.title {
    background-color: #263FA9;
    color: white;
}

button {
    background-color: #263FA9;
    color: white;
}
.container {
    max-width: 100%;
    padding-right: 15px;
    /* Adjust as needed */
    padding-left: 15px;
    /* Adjust as needed */
    margin-right: auto;
    margin-left: auto;
}
/* cursor table row */
table tbody tr:hover {
    cursor: pointer;
}

/* gray hover */
table tbody tr:hover td {
    background-color: #e9ecef;
}

.cards tbody tr {
    float: left;
    width: 20rem;
    margin: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    /* Border for the card */
}



.cards tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* This centers the items horizontally */
    gap: 1rem;
    /* Adds space between the cards */
}

.cards tbody td {
    display: block;
    word-wrap: break-word;
    /* Breaks the words to prevent overflow */
    overflow-wrap: break-word;
    /* Alternative to word-wrap */
}

.cards thead {
    display: none;
}

.cards td:before {
    content: attr(data-label);
    display: block;
    min-width: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    /* add line break to data-label */
    white-space: pre-wrap;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.issue-url {
    color: white;
}

.cards a {
    text-decoration: none;
}

.cards a:hover {
    text-decoration: underline;
}

/* Style for selected row */
tr.selected {
    background-color: #e9ecef;
}


/* reset button styling */
button {
    border: none;
    cursor: pointer;
    outline: inherit;
}

@media screen and (max-width: 1200px) {
    .cards tbody tr {
        width: calc(50% - 1rem);
        /* 2 cards per row */
    }
}

@media screen and (max-width: 768px) {
    .cards tbody tr {
        width: calc(100% - 2rem);
        /* 1 card per row */
    }
}

@media screen and (max-width: 480px) {
    .cards tbody tr {
        width: calc(100% - 2rem);
        /* 1 card per row, smaller screens */
        padding: 0.5rem;
        /* Smaller padding for very small screens */
    }
}